<mat-toolbar color="primary" class="mat-elevation-z6">

  <a mat-button routerLink=""><i class="material-icons">self_improvement</i><span>Easy Draw</span></a>
  <div class="spacer"></div>
  <!-- <a mat-button routerLink="/invoices">Invoices</a> -->
  <a mat-button routerLink="/projects">Projects</a>
  <a mat-button routerLink="/companies">Companies</a>
  <a mat-raised-button color="warn" routerLink="/sign-up">Sign Up</a>
  <a mat-raised-button color="accent" routerLink="/login">Login</a>
</mat-toolbar>
<router-outlet></router-outlet>
