<mat-toolbar color="primary" class="mat-elevation-z6">

  <ng-container *ngIf='!userIsAuthenticated'><a mat-button routerLink="home">Easy Draw</a></ng-container>
  <ng-container *ngIf='userIsAuthenticated'><a mat-button routerLink="projects">Easy Draw</a></ng-container>

  <button  *ngIf='userIsAuthenticated' mat-button [matMenuTriggerFor]="financial">Financial</button>
  <mat-menu #financial="matMenu">
    <button mat-menu-item>Project Budgets</button>
    <button mat-menu-item>Draws</button>
  </mat-menu>

  <button *ngIf='userIsAuthenticated' mat-button [matMenuTriggerFor]="management">Management</button>
  <mat-menu #management="matMenu">
    <button mat-menu-item routerLink="/project-list">Projects</button>
    <button mat-menu-item routerLink="/companies">Sub-Contractors/Vendors</button>
  </mat-menu>

  <button *ngIf='userIsAuthenticated' mat-button [matMenuTriggerFor]="templates">Templates</button>
  <mat-menu #templates="matMenu">
    <button mat-menu-item (click)="downloadBudgetTemplate()">Project Budget Template</button>
  </mat-menu>

  <div class="spacer"></div>
  <a *ngIf='!userIsAuthenticated' mat-button>About Us</a>
  <a *ngIf='userIsAuthenticated' mat-button>Settings</a>
  <a *ngIf='!userIsAuthenticated' mat-button routerLink="/sign-up">Sign Up</a>
  <a *ngIf='!userIsAuthenticated' mat-button routerLink="/login">Login</a>
  <a *ngIf='userIsAuthenticated' mat-button (click)="onLogout()">Logout</a>
</mat-toolbar>
<router-outlet></router-outlet>
