<main>
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" *ngIf="!isLoading">
      <mat-form-field>
        <mat-label>Project</mat-label>
        <mat-select formControlName="projectId">
          <mat-option>
            <ngx-mat-select-search [formControl]="projectsFilterCtrl"  placeholderLabel="Find Projects" 
            noEntriesFoundLabel="No matching project found"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let project of filteredProjects | async" [value]="project._id" (blur)="getDrawsAndCategories(project._id)">
            {{project.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('projectId').invalid">Please select a project</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Draw</mat-label>
        <mat-select formControlName="draw">
          <mat-option>
            <ngx-mat-select-search [formControl]="drawsFilterCtrl"  placeholderLabel="Find Draws" 
            noEntriesFoundLabel="No matching draw found"></ngx-mat-select-search>
          </mat-option>

          <mat-option *ngFor="let draw of filteredDraws | async" [value]="draw.name" (blur)="openNewDraw(draw)">
            {{draw.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('draw').invalid">Please select a Draw</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Company</mat-label>
        <mat-select formControlName="company" >
          <mat-option>
            <ngx-mat-select-search [formControl]="companiesFilterCtrl"  placeholderLabel="Find Companies" 
            noEntriesFoundLabel="No matching company found"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let company of filteredCompanies | async" [value]="company" (blur)="createNewCompany(company._id)">
            {{company.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('company').invalid">Please select a company</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option>
            <ngx-mat-select-search [formControl]="categoriesFilterCtrl"  placeholderLabel="Find Categories" 
            noEntriesFoundLabel="No matching category found"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
            {{category.category}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('category').invalid">Please select a category</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
        matInput
        type="text"
        formControlName="invoiceNum"
        placeholder="Invoice Number" >
        <mat-error *ngIf="form.get('invoiceNum').invalid">Please Enter an Invoice Number</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
        matInput
        type="number"
        formControlName="invoiceAmt"
        placeholder="Invoice Amount" >
        <mat-error *ngIf="form.get('invoiceAmt').invalid">Please Enter an Invoice Amount</mat-error>
      </mat-form-field>
      <div>
        <button mat-stroked-button (click)="filePicker.click()" type="button">Attach Invoice</button> {{fileName}}
        <input type="file" (change)="onImagePicked($event)" #filePicker>
        <mat-error *ngIf="form.get('image').invalid">Please attach an image</mat-error>
      </div>
      <mat-checkbox formControlName="changeOrder" (change)="showOptions($event)">
        Change Order?
      </mat-checkbox>
      <button
        class="submit-button"
        mat-raised-button
        color="primary"
        (click)="onAddInvoice(true)"
        type="submit">Save Invoice</button>
        <button
        class="submit-button"
        mat-raised-button
        color="primary"
        (click)="onAddInvoice()"
        type="submit">Save and Add Another</button>
    </form>
  </mat-card>

</main>

      <!-- <mat-form-field>
        <mat-label>Project</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="project" ngModel required #project = 'ngModel'>
          <mat-option *ngFor="let project of this.projectService.projects" [value]="project">
            {{project.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select name="category" ngModel required #category = 'ngModel'>
          <mat-option *ngFor="let category of this.getCategories()" [value]="category.category">
            {{category.category}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
