main {
  width: 80%;
  margin: 1rem auto;
}

mat-form-field,
textarea {
  width: 100%;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.submit-button {
  margin-top: 10px;
}

.btn-group {
  margin-top: 1rem;
  float: right
}

button {
  display: block; /* Make the buttons appear below each other */
}

