<main>
  <mat-card>
    <form [formGroup]="form" (submit)="onAddInvoice()">
      <mat-form-field>
        <input
        matInput
        type="text"
        formControlName="company"
        placeholder="Company" >
        <mat-error *ngIf="form.get('company').invalid">Please Enter a Company Name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
        matInput
        type="text"
        formControlName="address"
        placeholder="Company Address" >
        <mat-error *ngIf="form.get('address').invalid">Please Enter a Company Address</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Project</mat-label>
        <mat-select formControlName="projectId">
          <mat-option *ngFor="let project of this.projectService.projects" [value]="project._id">
            {{project.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('projectId').invalid">Please select a project</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of this.getCategories()" [value]="category.category">
            {{category.category}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('category').invalid">Please select a category</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
        matInput
        type="text"
        formControlName="invoiceNum"
        placeholder="Invoice Number" >
        <mat-error *ngIf="form.get('invoiceNum').invalid">Please Enter an Invoice Number</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
        matInput
        type="number"
        formControlName="invoiceAmt"
        placeholder="Invoice Amount" >
        <mat-error *ngIf="form.get('invoiceAmt').invalid">Please Enter an Invoice Amount</mat-error>
      </mat-form-field>
      <div>
        <button mat-stroked-button (click)="filePicker.click()" type="button">Attach Invoice PDF</button> {{fileName}}
        <input type="file" (change)="onImagePicked($event)" #filePicker>
        <mat-error *ngIf="form.get('image').invalid">Please attach an image</mat-error>
      </div>
      <!-- <div *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.company">
        {{fileName}}
      </div> -->
      <button
        class="submit-button"
        mat-raised-button
        color="primary"
        type="submit">Save Invoice</button>
    </form>
  </mat-card>
</main>

      <!-- <mat-form-field>
        <mat-label>Project</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="project" ngModel required #project = 'ngModel'>
          <mat-option *ngFor="let project of this.projectService.projects" [value]="project">
            {{project.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select name="category" ngModel required #category = 'ngModel'>
          <mat-option *ngFor="let category of this.getCategories()" [value]="category.category">
            {{category.category}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
