main {
    width: 94%;
    margin: 1rem auto;
    padding-bottom: 1rem;
  }
  
  mat-form-field,
  textarea {
    width: 100%;
  }
  
  .remove-icon {
    cursor: pointer;
  }

  table {
    width: 100%;
  }