<div *ngIf='formattedData.length > 0'>
  <div class="mat-elevation-z2">
    <table mat-table [dataSource]="formattedData">

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Project </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>

        <!-- <td mat-cell class="element-row"  *matCellDef="let element"  (click)="cellClicked(element)" [routerLink]="['/projects', element._id]"> {{element.name}} </td> -->
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef> Client </th>
        <td mat-cell *matCellDef="let element"> {{element.client}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="budget">
        <th mat-header-cell *matHeaderCellDef> Budget </th>
        <td mat-cell *matCellDef="let element"> {{element.budget | currency}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="spent">
        <th mat-header-cell *matHeaderCellDef> Spent </th>
        <td mat-cell *matCellDef="let element"> {{element.spent | currency}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Remaining Balance </th>
        <td mat-cell *matCellDef="let element"> {{element.status | currency}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="changeOrder">
        <th mat-header-cell *matHeaderCellDef> Change Orders </th>
        <td mat-cell *matCellDef="let element"> {{element.changeOrder | currency}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="action-items" [routerLink]="['/project-edit', element._id]">edit</mat-icon>
          <mat-icon class="action-items" (click)="deleteProject(element._id)">delete</mat-icon>
        </td>
      </ng-container>

      <!--ROWS-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/projects', row._id]"></tr>

    </table>
  </div>
</div>
<div *ngIf='formattedData.length == 0'>
  <h2>Welcome to Easy Draw.</h2>
  You must create a project to start using our features.

</div>

<router-outlet></router-outlet>
