table {
  width: 100%;
}

.element-row {
  cursor: pointer;
}

.action-items {
  cursor: pointer;
}

.element-row:hover {
  background: #f5f5f5;
}

.btn-group {
  margin-top: 1rem;
  float: right
}

button {
  display: block; /* Make the buttons appear below each other */
}
