<mat-card>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Company Name" [(ngModel)]="enteredName"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Company Address" [(ngModel)]="enteredAddress"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Tax ID#" [(ngModel)]="enteredTaxId"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Additional Company Notes" rows="6" [(ngModel)]="enteredNotes"></textarea>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    (click)="onAddCompany()">Save Company</button>
</mat-card>

