<mat-sidenav-container>
  <mat-sidenav mode="side" opened #sidenav ="matSidenav" class="mat-elevation-z8">
    Projects:
    <mat-divider></mat-divider>
    <ng-container *ngFor="let project of projects">
      <button mat-button class="menu-button" [routerLink]="['/projects', project._id]">
        <span>{{project.name}}</span>
    </button>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <div class="table-size">
          <div class="search-results-header">
            <div>
              <span class="plain-text">Budget for: </span>
              <span class="search-term-text">{{projectName}}</span><br>
            </div>
            <div class="action-buttons">
              <mat-icon (click)="download()" matTooltip="Download search results" class="material-icons-outlined" style="font-size: 24px" matTooltipClass="tooltip">file_download</mat-icon>
            </div>
          </div>
          <div class="search-results-header">
            <div>
              <span class="plain-text">Categories </span>
            </div>
            <div class="action-buttons">
              <button mat-raised-button class="add-project" [routerLink]="['/project/category', id]">Add Single Category</button>
              <button mat-raised-button class="add-project" (click)="filePicker.click()">Upload CSV of Categories</button> {{fileName}}
              <input type="file" class="upload" (change)="changeListener($event.target.files)" #filePicker>
              <mat-icon (click)="upload()" matTooltip="Upload CSV" class="material-icons-outlined" style="font-size: 24px" matTooltipClass="tooltip">file_upload</mat-icon>
            </div>
          </div>
          <ng-container *ngIf='this.budgetData.length > 0'>
            <table class="mat-elevation-z2" mat-table [dataSource]="budgetData">

              <!-- Cost Code Column -->
              <ng-container matColumnDef="costCode">
                <th mat-header-cell *matHeaderCellDef> Cost Code </th>
                <td mat-cell *matCellDef="let element"> {{element.costCode}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <!-- Category Column -->
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                <td mat-footer-cell *matFooterCellDef>Total:</td>
              </ng-container>

              <!-- Budget Column -->
              <ng-container matColumnDef="budget">
                <th mat-header-cell *matHeaderCellDef> Budget </th>
                <td mat-cell *matCellDef="let element"> {{element.budget | currency}} </td>
                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal('budget') | currency}}</td>
              </ng-container>

              <!-- Draw Columns -->
              <ng-container *ngFor="let draw of draws">
                <ng-container matColumnDef="{{draw.name}}">
                  <th mat-header-cell *matHeaderCellDef><button mat-raised-button [routerLink]="['/projects', id, 'draws', draw.name]">{{makePretty(draw.name)}}</button></th>
                  <td mat-cell *matCellDef="let element"> {{element[draw.name] | currency}} </td>
                  <td mat-footer-cell *matFooterCellDef>{{ calculateTotal(draw.name) | currency}}</td>

                </ng-container>
              </ng-container>

              <!-- Spent Column -->
              <ng-container matColumnDef="spent">
                <th mat-header-cell *matHeaderCellDef> Spent </th>
                <td mat-cell *matCellDef="let element"> {{element.spent | currency}} </td>
                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal('spent') | currency}}</td>

              </ng-container>

              <!-- Over/Under Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Remaining Balance </th>
                <td mat-cell *matCellDef="let element"> {{element.status | currency}} </td>
                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal('status') | currency}}</td>

              </ng-container>

              <!--ROWS-->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row class="element-row"  *matRowDef="let row; columns: displayedColumns;" ></tr>
              <tr mat-footer-row class="footer-row" *matFooterRowDef="displayedColumns"></tr>

            </table>
            <div class="btn-group">
              <button mat-raised-button [routerLink]="['/project/invoices', id]">Add Invoice</button>
            </div>
          </ng-container>
          <div *ngIf='this.budgetData.length == 0'>
            You must add at least one category before you are able to add invoices to this project
          </div>

      </div>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<router-outlet></router-outlet>

