<main>
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignUp(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput type="text" placeholder="Name" name="name" ngModel #nameInput="ngModel" required>
        <mat-error *ngIf="nameInput.invalid">Please Enter a Name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Company" name="company" ngModel #companyInput="ngModel" required>
        <mat-error *ngIf="companyInput.invalid">Please Enter a Company Name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="Email" name="email" ngModel #emailInput="ngModel" required email>
        <mat-error *ngIf="emailInput.invalid">Please Enter a Valid Email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password" ngModel #passwordInput="ngModel" (input)="onPasswordChange($event.target.value)" required password>
        <mat-error *ngIf="passwordInput.invalid || (signupForm.form.controls['password']?.errors && signupForm.form.controls['password']?.errors['incorrect'])">Please Enter a Valid Password</mat-error>
      </mat-form-field>
      
      <div id="password-validation-box">
        <mat-label>Password Checklist:</mat-label>
        <mat-error class="custom-validation-text" [class.valid]="passwordValidations.uppercaseLetter" >A capital letter</mat-error>
        <mat-error class="custom-validation-text" [class.valid]="passwordValidations.lowercaseLetter" >A lowercase letter</mat-error>
        <mat-error class="custom-validation-text" [class.valid]="passwordValidations.aNumber" >A number</mat-error>
        <mat-error class="custom-validation-text" [class.valid]="passwordValidations.minimumEightChars" >Minimum 8 characters</mat-error>
      </div>

      <button
        *ngIf="!isLoading"
        mat-raised-button
        color="accent"
        type="submit">Sign Up</button>
    </form>
    <br>
  </mat-card>
</main>
