<main>
  <mat-card *ngIf="isLoaded">
    <form [formGroup]="form" (submit)="updatePassword()">
      <span>Reset Password</span>

      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="New Password" (input)="onPasswordChange($event.target.value)">
        <mat-error *ngIf="form.get('password').invalid || (form.controls['password']?.errors && form.controls['password']?.errors['incorrect'])">Please Enter a Valid Password</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password">
        <mat-error *ngIf="form.get('confirmPassword').invalid">Please Enter Confirm Password</mat-error>
      </mat-form-field>

      <div id="password-validation-box">
        <mat-label>Password Checklist:</mat-label>
        <mat-error class="custom-validation-text" [class.valid]="passwordValidations.uppercaseLetter" >A capital letter</mat-error>
        <mat-error class="custom-validation-text" [class.valid]="passwordValidations.lowercaseLetter" >A lowercase letter</mat-error>
        <mat-error class="custom-validation-text" [class.valid]="passwordValidations.aNumber" >A number</mat-error>
        <mat-error class="custom-validation-text" [class.valid]="passwordValidations.minimumEightChars" >Minimum 8 characters</mat-error>
      </div>

      <button mat-raised-button color="accent" type="submit">Reset Password</button>
    </form>
  </mat-card>

  <mat-card *ngIf="!isLoaded">
    <span>
      {{message}}
    </span>
  </mat-card>
</main>