<main>
  <mat-card *ngIf="isLoaded">
    <form [formGroup]="form" (submit)="updatePassword()">
      <span>Reset Password</span>

      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="New Password">
        <mat-error *ngIf="form.get('password').invalid">Please Enter a Valid Password</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password">
        <mat-error *ngIf="form.get('confirmPassword').invalid">Please Enter Confirm Password</mat-error>
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit">Reset Password</button>
    </form>
  </mat-card>

  <mat-card *ngIf="!isLoaded">
    <span>
      {{message}}
    </span>
  </mat-card>
</main>