<main>
  <mat-card>
    <!-- Currently working on this functionality. If you have forgotten your password, reach out to Tanner (509-851-8431) and he will change it for you. -->
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onResetPassword()" *ngIf="!isLoading">
      <span>Security Question: What city were you born in?</span>
      <mat-form-field>
        <input
        matInput
        type="text"
        formControlName="securityAnswer"
        placeholder="Answer" >
        <mat-error *ngIf="form.get('securityAnswer').invalid">Incorrect Answer</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Email"
        (blur)="getInfoOnAccount(form.get('email').value)">
        <mat-error *ngIf="form.get('email').invalid">Please Enter a Valid Email</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
        matInput
        type="password"
        formControlName="newPassword"
        placeholder="New Password" >
        <mat-error *ngIf="form.get('newPassword').invalid">Please Enter a Valid Password Amount</mat-error>
      </mat-form-field>

      <button
        *ngIf="!isLoading"
        mat-raised-button
        color="accent"
        type="submit">Reset Password</button>
    </form>
  </mat-card>
</main>
