<main>
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onResetPassword()" *ngIf="!isLoading">
      <span>Enter your email to reset Password</span>
      <mat-form-field>
        <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Email">
        <mat-error *ngIf="form.get('email').invalid">Please Enter a Valid Email</mat-error>
      </mat-form-field>
      <button
        *ngIf="!isLoading"
        mat-raised-button
        color="accent"
        type="submit">Reset Password</button>
    </form>
  </mat-card>
</main>
