<mat-sidenav-container>
  <mat-sidenav mode="side" opened #sidenav ="matSidenav" class="mat-elevation-z8">
    Draws:
    <mat-divider></mat-divider>
    <ng-container *ngFor="let d of draws; index as i;">
      <button mat-button class="menu-button" [routerLink]="['/projects', id, 'draws', d.name]">{{ d.name }}</button>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <div class="table-size">
        <div class="search-results-header">
          <div>
            <span class="plain-text">{{project[0]?.name}}: </span>
            <span class="search-term-text">{{drawId}}</span><br>
          </div>
          <div>
            <button mat-button class="menu-button" [routerLink]="['/projects', id]">Project Budget</button>
          </div>
        </div>
        <div class="search-results-header">
          <span>
            <button mat-button (click)="openDialog()">Open New Draw</button>
          </span>
          <span class="action-buttons">
            <button mat-button [matMenuTriggerFor]="attachmentMenu">Draw Attachments</button>
            <mat-menu #attachmentMenu="matMenu">
              <span *ngIf="draw.checks == ''">
                <button mat-menu-item (click)="filePicker.click()">Attach Copy of Checks for Draw</button>
                <input type="file" (change)="addDrawFiles($event, 'checks')" #filePicker>
              </span>
              <span *ngIf="draw.signedDraw == ''">
                <button mat-menu-item (click)="filePicker.click()">Attach Signed Draw Form</button>
                <input type="file" (change)="addDrawFiles($event, 'signedDraw')" #filePicker>
              </span>
              <span *ngIf="draw.checks != ''">
                <button mat-menu-item (click)="viewDrawFiles('checks')">View Copy of Checks</button>
              </span>
              <span *ngIf="draw.signedDraw != ''">
                <button mat-menu-item (click)="viewDrawFiles('signedDraw')">View Signed Draw</button>
              </span>
            </mat-menu>
            <button  *ngIf="drawData.length != 0"  mat-button [matMenuTriggerFor]="menu">Download</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="downloadInvoicesCSV()">Draw Sheet</button>
              <button *ngIf="isChecked == false" mat-menu-item (click)="generateInvoicesPDF()">Invoice PDF Packet</button>
              <button *ngIf="isChecked == true" mat-menu-item (click)="generateInvoicesPDF()">Change Order PDF Packet</button>
              <button mat-menu-item (click)="downloadBoth()">Draw Sheet and PDF Packet</button>
            </mat-menu>
          </span>
        </div>
        <ng-container *ngIf="drawData.length == 0">You will see Inovices and Change orders here once you input them</ng-container>
        <ng-container *ngIf="drawData.length != 0">
        <h3>Invoices <mat-slide-toggle color="primary" [(ngModel)]="isChecked"></mat-slide-toggle> Change Orders</h3>
        <ng-container *ngIf="isChecked == false">
          <div class="mat-elevation-z2">
            <table mat-table [dataSource]="drawInvoices">
              <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef> Company </th>
                <td mat-cell *matCellDef="let element"> {{element.company}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Cateogry </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="invoiceNum">
                <th mat-header-cell *matHeaderCellDef> Invoice Number </th>
                <td mat-cell *matCellDef="let element"> {{element.invoiceNum}} </td>
                <td mat-footer-cell *matFooterCellDef>Draw Total:</td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Invoice Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.invoiceAmt | currency}} </td>
                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal('Invoices') | currency}}</td>
              </ng-container>
              <ng-container matColumnDef="taxId">
                <th mat-header-cell *matHeaderCellDef> Tax ID </th>
                <td mat-cell *matCellDef="let element"> {{element.taxId}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="invoicePath">
                <th mat-header-cell *matHeaderCellDef> Attachment </th>
                <td mat-cell *matCellDef="let element">
                  <a *ngIf="element.invoicePath != ''" (click)="openInvoiceFile(element.invoicePath)"><button>View Invoice</button></a>
                  <!-- <a *ngIf="element.invoicePath == ''" (click)="attachInvoice()"><button>Attach Invoice</button></a> -->
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container matColumnDef="isPaid">
                <th mat-header-cell *matHeaderCellDef> Is Paid? </th>
                <td mat-cell *matCellDef="let element"><mat-checkbox [checked]="element.isPaid" (click)="changePaidStatus(element.isPaid, element._id, 'Invoices')"></mat-checkbox></td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <!-- Action Column -->
              <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon class="action-items" [routerLink]="['/project/edit-invoice', this.id, this.drawId, element._id]">edit</mat-icon>
                  <mat-icon class="action-items" (click)="deleteInvoice(element)">delete</mat-icon>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row class="element-row"  *matRowDef="let row; columns: displayedColumns;" ></tr>
              <tr mat-footer-row class="footer-row" *matFooterRowDef="displayedColumns"></tr>

            </table>
          </div>
        </ng-container>
        <ng-container *ngIf="isChecked == true">
          <div class="mat-elevation-z2">
            <table mat-table [dataSource]="drawChangeOrders">
              <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef> Company </th>
                <td mat-cell *matCellDef="let element"> {{element.company}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Cateogry </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="invoiceNum">
                <th mat-header-cell *matHeaderCellDef> Change Order # </th>
                <td mat-cell *matCellDef="let element"> {{element.invoiceNum}} </td>
                <td mat-footer-cell *matFooterCellDef>Draw Total:</td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Change Order Amt </th>
                <td mat-cell *matCellDef="let element"> {{element.invoiceAmt | currency}} </td>
                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal('Change Orders') | currency}}</td>
              </ng-container>
              <ng-container matColumnDef="taxId">
                <th mat-header-cell *matHeaderCellDef> Tax ID </th>
                <td mat-cell *matCellDef="let element"> {{element.taxId}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="invoicePath">
                <th mat-header-cell *matHeaderCellDef> Attachment </th>
                <td mat-cell *matCellDef="let element">
                  <a (click)="openInvoiceFile(element.invoicePath)"><button>View Change Order</button></a>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="isPaid">
                <th mat-header-cell *matHeaderCellDef> Is Paid? </th>
                <td mat-cell *matCellDef="let element"><mat-checkbox [checked]="element.isPaid" (click)="changePaidStatus(element.isPaid, element._id, 'Change Orders')"></mat-checkbox></td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
              <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"></td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row class="element-row"  *matRowDef="let row; columns: displayedColumns;" ></tr>
              <tr mat-footer-row class="footer-row" *matFooterRowDef="displayedColumns"></tr>

            </table>
          </div>
        </ng-container>
      </ng-container>
      <div class="btn-group">
        <button mat-button class="add-project" (click)="filePicker.click()">Upload Historical Draw Information</button> 
        <span *ngIf="showUpload == true">{{fileName}}</span>
        <input type="file" class="upload" (change)="changeListener($event.target.files)" #filePicker>
        <mat-icon *ngIf="showUpload == true" (click)="uploadInvoices()" matTooltip="Upload CSV" class="material-icons-outlined" style="font-size: 24px" matTooltipClass="tooltip">file_upload</mat-icon>
      </div>
      <!-- <div class="btn-group">
        <button mat-raised-button (click)="addChecks()">Add Checks for Draw</button>
      </div> -->
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>


