<div class="mat-elevation-z2 table-size">
  <table mat-table [dataSource]="invoices">

    <!-- Position Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> Company </th>
      <td mat-cell *matCellDef="let element"> {{element.company}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Cateogry </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Invoice Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.invoiceAmt}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="invoiceNum">
      <th mat-header-cell *matHeaderCellDef> Inovice Number </th>
      <td mat-cell *matCellDef="let element"> {{element.invoiceNum}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="element-row"  *matRowDef="let row; columns: displayedColumns;" ></tr>


  </table>

</div>

<router-outlet></router-outlet>

<!--
<main>
  <mat-accordion multi="true" *ngIf="invoices.length > 0">
    <mat-expansion-panel *ngFor="let invoice of invoices">
      <mat-expansion-panel-header>
        {{invoice.company}}
      </mat-expansion-panel-header>
      <p>category: {{invoice.category}}</p>
      <p>Address: {{invoice.address}}</p>
      <p>Amount: {{invoice.invoiceAmt}}</p>
      <p>Invoice Number: {{invoice.invoiceNum}}</p>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="info-text mat-body-1" *ngIf="invoices.length==0">No Invoices have been added for this project yet</p>
</main> -->
<!-- <p>
  project-detail works!
</p> -->
