<main>
  <div></div>
  <a mat-raised-button class="add-project" (click)="createProject()">Add Project</a>
  <button mat-raised-button class="add-project" [routerLink]="['/project/invoices']">Add Invoice</button>
  <button mat-raised-button class="add-project" (click)="this.projectService.getCategories('61a11efdadb60577401bb2f3')">test Button</button>
  <div *ngIf="createProj == true">
    <app-project-create></app-project-create>
  </div>
  <app-project-list></app-project-list>
</main>

<router-outlet></router-outlet>
