main {
  width: 80%;
  margin: 1rem auto;
}

.add-project {
  margin-bottom: 5px;
}

.btn-group {
  margin-top: 1rem;
  float: right
}

button {
  display: block; /* Make the buttons appear below each other */
}

