<main>
  <div>
    <h2 style="text-align: center;">Welcome to Easy Draw</h2>
    <div>
      No more messy desks and folders packed with invoices.
      With EasyDraw, track invoices, update project budgets, and create draw packets all in one place.
      We've been in your shoes, and know that when it comes time to pay subs, things can get a little hairy.
      EasyDraw was built to give you more time to focus on what matters most,
      and put your mind at ease that every invoice is paid on time and in-full. And only paid once.
    </div>
    <br>
    <span>Please Sign Up or Log in to use the features below</span>
    <br>
    <br>
    <div>
      <li>Create projects</li>
      <li>Download templates</li>
      <li>Upload/add budget</li>
      <li>Add invoices</li>
      <li>Export project budget, draw cover sheet, and invoices for draw</li>
    </div>
  </div>
</main>



